<section class="cta">
  <div class="wrapper">
    <div class="cta-container">
      <div class="cta">
        <div class="cta__content">
          <h3>Become a successful<br/>
          business owner.
          </h3>
          <p>Own your own successful fitness studio with Tribe. Reach out to us today to start your journey.</p>
          <a href="/#contact">
            <button class="cta__btn">Get Started Today</button>
          </a>
        </div>
        <div class="cta__img">
          <img src="/images/front-studio.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>