<section class="faq">
	<div class="wrapper">
		<div class="faq-container">
			<h2>Frequently Asked Questions</h2>

			<div class="faq-drawer">
				<input class="faq-drawer__trigger" id="faq-drawer" type="checkbox" />
				<label class="faq-drawer__title" for="faq-drawer"
					>Do you have finiance options availiable?</label
				>
				<div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
						<p>
							Yes, finance is available to those that qualify.
							<a href="#contact">Contact us</a> today to see if you are eligible.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-drawer">
				<input class="faq-drawer__trigger" id="faq-drawer-1" type="checkbox" />
				<label class="faq-drawer__title" for="faq-drawer-1">Is Tribe right for me?</label>
				<div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
						<p>
							Tribe is the perfect choice for someone looking for a low-cost, self-managed business,
							with the opportunity of high profits, financial security & happiness, in the Fitness,
							Health & Wellness industry.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-drawer">
				<input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox" />
				<label class="faq-drawer__title" for="faq-drawer-2">What equipment do you use?</label>
				<div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
						<p>
							We have the best, most reliable equipment available and we are always looking for new
							inovative equipment to add to your arsenal.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-drawer">
				<input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox" />
				<label class="faq-drawer__title" for="faq-drawer-3"
					>Do i need existing experiencing in running a business?</label
				>
				<div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
						<p>
							Not at all. Our current franchisees come from out walks of life and all have very
							different backgrounds. Our training systems allows anyone, no matter their experience
							level to run a sucessful, profitable business.
						</p>
					</div>
				</div>
			</div>

			<div class="faq-drawer">
				<input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox" />
				<label class="faq-drawer__title" for="faq-drawer-4">Do you help find a property?</label>
				<div class="faq-drawer__content-wrapper">
					<div class="faq-drawer__content">
						<p>
							Yes. We can help find properties and negotiate leases on your behalf. Tribe staff are
							here to help you on every step of your journey.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
