<section class="faq">
  <div class="wrapper">
    <div class="faq-container">
      <h2>Frequently Asked Questions</h2>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer">Do you have finiance options availiable?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-1" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer-1">What equipment does Tribe use?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-2" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer-2">What is the average number of members in a Tribe studio?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-3" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer-3">He wears a mask just to cover the raw flesh?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-4" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer-4">A rather ugly brother with flows that's gorgeous?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

      <div class="faq-drawer">
        <input class="faq-drawer__trigger" id="faq-drawer-5" type="checkbox"/>
        <label class="faq-drawer__title" for="faq-drawer-5">Drop dead joints hit the whips like bird shit?</label>
        <div class="faq-drawer__content-wrapper">
          <div class="faq-drawer__content">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
          </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>