<section class="features">
  <div class="wrapper">
    <div class="features-container">
      <div class="features__image">
        <img src="./images/tribe-studio.png" alt="" srcset="">
      </div>
      <div class="features__content">
        <h2>We help you to be a successful business owner</h2>
        <p>From our amazing support staff to our incredible systems and technology. Everything and everyone is here to help succeed. </p>
        <div class="features-grid-container">
          <ul class="features-grid" role="list">
            <li data-icon="✔️">A caring business relationship</li>
            <li data-icon="✔️">Amazing training systems</li>
            <li data-icon="✔️">Huge cash flow opportunities</li>
            <li data-icon="✔️">A brand members love</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>