<section class="features">
  <div class="wrapper">
    <div class="features-container">
      <div class="features__image">
        <img src="./images/tribe-studio.png" alt="" srcset="">
      </div>
      <div class="features__content">
        <h2>Tribe help you to be a successful business owner</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti sapiente consequatur, sint iste iure blanditiis eveniet numquam laudantium ea, quis voluptatibus cumque possimus nihil explicabo sunt non quia repudiandae eos!</p>
        <div class="features-grid-container">
          <ul class="features-grid" role="list">
            <li data-icon="🦄">Feature Item 1</li>
            <li data-icon="🦄">Feature Item 2</li>
            <li data-icon="🦄">Feature Item 3</li>
            <li data-icon="🦄">Feature Item 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>