<div class="form-container">
  <form name="contact" method="POST" data-netlify="true">
    <div class="row">
      <label for="firstName" class="visually-hidden">First Name</label>
      <input id="firstName" type="text" placeholder="First Name" required>
      <label for="secondName" class="visually-hidden">Second Name</label>
      <input id="secondName" type="text"  placeholder="Second Name" required>
    </div>
    <div class="row">
      <label for="email" class="visually-hidden">Email Address</label>
      <input id="email" type="text"  placeholder="Email Address" required>
    </div>
    <div class="row">
      <label for="phone" class="visually-hidden">Phone Number</label>
      <input id="phone" type="phone" placeholder="Phone Number" required>
      <label for="postcode" class="visually-hidden">Post Code</label>
      <input id="postcode" type="number"  placeholder="Post Code" required>
    </div>
    <button>Get Your Infomation Pack</button>
  </form>
</div>