<section class="hero" id="contact">
  <div class="wrapper">
    <div class="hero-container">
      <div class="hero__content">
        <h1>
					OWN A<br/>
          <span class="highlight">SUCCESSFUL</span><br/>
					FITNESS <span class="highlight">BUSINESS</span>
        </h1>
        <p>
					Using our tried and tested systems, knowledgeable staff & existing network of outstanding
					owners you will be running a successful fitness franchise from day one! 
				</p>

        {% include "partials/components/form.njk" %}

      </div>

      <div class="hero__img">
        <div class="hero__img--testimonial">
          <p>
						" I have been very happy with my time at Tribe! They have an amazing team at head office who have helped me every step of the way. I am already in the process of opening my second studio with them! "
					</p>
          <span>
            <strong>Michalle Cartwright</strong>
          </span>
          <span>Tribe Franchise Owner - Botany</span>
        </div>
      </div>
    </div>
  </div>
</section>