<section class="hero" id="contact">
  <div class="wrapper">
    <div class="hero-container">
      <div class="hero__content">
        <h1>
					OWN A<br/>
          <span class="highlight">SUCCESSFUL</span><br/>
					FITNESS <span class="highlight">BUSINESS</span>
        </h1>
        <p>
					Using our tried and true systems, knowledgeable staff & existing network of outstanding
					owners you will be running a successful fitness franchise from day one! 
				</p>

        {% include "partials/components/form.njk" %}

      </div>

      <div class="hero__img">
        <div class="hero__img--testimonial">
          <p>
						" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
						incididunt ut labore et dolore magna aliqua. Quis enim lobortis scelerisque fermentum
						dui faucibus in ornare quam. "
					</p>
          <span>
            <strong>Michalle Cartwright</strong>
          </span>
          <span>Tribe Franchise Owner - Botany</span>
        </div>
      </div>
    </div>
  </div>
</section>