<li class="slider" role="list">
  <ul role="listitem" class="slider__item">
    <div class="slider__item--header">
      <div class="slider__item--header__img">
        <img src="/images/avatar-f-1.png" alt="" width="56px">
      </div>
      <div class="slider__item--header__content">
        <h3>Ali E.</h3>
        <p>Tribe leichhardt Member</p>
      </div>

    </div>
    <hr>
    <div class="slider__item--body">
      <p>I really enjoy training at Tribe! There is no pretentiousness and they have a real close knit and supportive vibe. If you feel apprehensive about joining... Don't!!!</p>
    </div>
    <div class="slider__item--footer">
      <img src="/images/quote.svg" alt="">
    </div>
</ul>
<ul role="listitem" class="slider__item">
  <div class="slider__item--header">
    <div class="slider__item--header__img">
      <img src="/images/avatar-f.png" alt="">
    </div>
    <div class="slider__item--header__content">
      <h3>Danielle H.</h3>
      <p>Tribe Member</p>
    </div>

  </div>
  <hr>
  <div class="slider__item--body">
    <p>They have so much variety. There are stregth based workouts, cardio based workouts, cmobined workouts, yoga and now boxing! It's a gym for everyone.</p>
  </div>
  <div class="slider__item--footer">
    <img src="/images/quote.svg" alt="">
  </div>
</ul>
</li>