<section class="testimonials">
  <div class="wrapper">
    <div class="testimonials-container">
      <div class="testimonials__content">
        <h2>Our members love tribe</h2>
        <p>At Tribe our members, traininers and owners are all part of one big, inclusive family. This combined with our expansive workout library & expoert coaches means our members love their Tribe!</p>
      </div>
      <div class="testimonials__slider">
        {% include "partials/components/slider.njk" %}
        <div class="slider__nav">
          <span class="dots dark"></span>
          <span class="dots light"></span>
          <span class="dots light"></span>
        </div>

      </div>
    </div>
  </section>