<footer class="site-footer">
  <div class="wrapper">
    <div class="site-footer-container">
      <div class="site-footer__image">
        <img src="/images/logo.png" alt="Tribe Logo">
      </div>
      <div class="site-footer__content">
        <p>Copyright {{ helpers.currentYear() }} Tribe Functional Training</p>
      </div>
    </div>
  </div>
</footer>