{% extends 'layouts/base.njk' %}

{% block content %}

  {% include "partials/components/hero.njk" %}
  {% include "partials/components/features.njk" %}
  {% include "partials/components/testimonials.njk" %}
  {% include "partials/components/faq.njk" %}
  {% include "partials/components/cta.njk" %}

{% endblock %}

{{ content | safe }}