section.hero {
	padding-top: var(--space-md);
	padding-bottom: var(--space-xxl);
}

.hero-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.hero__content {
	display: flex;
	flex: 1 0 50%;
	flex-direction: column;
	margin-right: 8.1rem;

	@include breakpoint("large") {
		flex: 1 0 100%;
		margin-right: 0rem;
		text-align: center;
	}

	h1 {
		--text-xxxxl: 4.625rem;
		font-size: var(--text-xxxxl);
		margin-bottom: var(--space-md);

		@include breakpoint("medium") {
			font-size: var(--text-xxxxl);
		}

		@include breakpoint("small") {
			--text-xxxl: 3.1rem;
			font-size: var(--text-xxxl);
			margin-bottom: var(--space-md);
		}
	}

	p {
		--text-md: 1.35rem;
		color: var(--clr-text);
		font-size: var(--text-md);
		line-height: 1.8;
		margin-right: var(--space-lg);

		@include breakpoint("medium") {
			--text-md: 1.3rem;
			font-size: var(--text-md);
			margin-right: 0rem;
		}

		@include breakpoint("small") {
			font-size: var(--text-md);
			line-height: 1.7;
		}
	}
}

.hero__content--featured {
	display: flex;
	flex-direction: column;

	span {
		display: block;
	}

	.featured-wrapper {
		display: flex;
	}
}

.hero__img {
	position: relative;
	display: flex;
	flex: 1 1 40%;
	flex-direction: column;
	justify-content: end;
	background-image: url(/images/franchisee-headshot.png);
	background-position: center right;
	background-size: cover;
	background-repeat: no-repeat;
	height: 800px;
	max-width: 600px;
	transition: 180ms width ease-in;

	@include breakpoint("medium") {
		width: 100%;
		max-width: 500px;
	}

	@include breakpoint("small") {
		height: 600px;
	}

	.hero__img--testimonial {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 280px;
		background: var(--clr-green-200);
		margin-right: 100px;
		margin-left: -40px;
		padding: var(--space-lg);

		@include breakpoint("small") {
			height: 250px;
			margin-right: 0px;
			margin-left: 0px;
		}

		p {
			color: var(--clr-white);
			font-size: var(--text-md);
			margin-bottom: var(--space-md);

			@include breakpoint("medium") {
				font-size: var(--text-sm);
				letter-spacing: 0.05em;
			}

			@include breakpoint("small") {
				font-size: var(--text-sm);
				letter-spacing: 0.05em;
			}
		}

		span {
			--text-sm: 0.9rem;
			font-family: var(--font-secondary);
			font-size: var(--text-sm);
			font-weight: 400;
			color: var(--clr-white);
		}
	}
}

.hero__content--featured {
	margin-top: var(--space-xl);

	span {
		--text-sm: 0.9rem;
		font-family: var(--font-primary);
		font-size: var(--text-sm);
		font-weight: 500;
		color: hsla(0, 3%, 24%, 0.6);
		letter-spacing: 0em;
	}
}
